# Default OS files
.DS_Store

# IDE/Editor files
/.idea
/.vscode

# Frontend files
/themes/startup-theme/
/mix-manifest.json
/node_modules/
node_modules/
dist/
yarn-error.log
.pnp.*
.yarn/*
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Assets
/public/assets/

# Silverstripe/PHP specific
/public/_resources/
/vendor/
silverstripe.log
.phpunit.result.cache
